body{
    color: rgb(0, 0, 0); background-color: rgb(213, 241, 237);font-family: Georgia, 'Times New Roman', serif; font-size: 16px;
}
.img1{
    border: 5px solid rgb(5, 61, 57);
    padding: 5px;
}
h1{
    text-align: center;
    color:rgba(173, 18, 18, 0.877); font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode'; font-size: 40px;
}
h2{
    text-align: center;
    color:rgb(173, 18, 18, 0.877); font-family: 'Gill Sans', Calibri, ; font-size: 25px;
}
h3{
    text-align: center;
    color:rgb(2, 19, 19); font-family: 'Gill Sans', Calibri, ; font-size: 20px;
}
h4{
    text-align: center;
    color:teal; font-family: 'Gill Sans', Calibri, ; font-size: 20px;
}
h5{
    text-align: center;
     color:teal; font-family: 'Gill Sans', Calibri, ; font-size: 20px;
}
span{ color:rgb(20, 143, 126);}

.container-table{
    width: 90%;
    background:rgb(245, 248, 247) ;
    margin: 20px auto;
    display:grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-auto-rows: 50px;
}
.table--title{
    grid-column-start: 1;
    grid-column-end: 5;
    background: rgb(17, 102, 95);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-table{
    width: 90%;
    background:rgb(245, 248, 247) ;
    margin: 20px auto;
    display:grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-auto-rows: 50px;
}
.table--title{
    grid-column-start: 1;
    grid-column-end: 5;
    background: rgb(17, 102, 95);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-table{
    width: 90%;
    background:rgb(245, 248, 247) ;
    margin: 20px auto;
    display:grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-auto-rows: 50px;
}
.table--title{
    grid-column-start: 1;
    grid-column-end: 5;
    background: rgb(17, 102, 95);
    color: rgba(0, 0, 0, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;}